{% extends 'base.html' %}

{% block content %}
<head>
	<link href='static/css/styles-about_me.css' rel='stylesheet' type='text/css' />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Kalam:wght@300&display=swap');
	</style>
</head>

<body>
	<img src="/static/img/me_after_haircut.jpg" />

	<div>
		<h4>Alana Robyn Rosen</h4> <br>
		<h5>Founder of <strong>Yarntastic Adventures</strong></h5> <br>
		<p>I am a life-long weirdo who navigates the world with more chronic ailments than seems appropriate. I learned to crochet from YouTube four years ago out of a strong desire to create and found something that I truly love. I’ve experimented with making hats, scarves, unicorns, seahorses, and my special Pride-O-Pusses.<br>
		In my spare time, I tend to my seven male rats whom I love a potentially unhealthy amount (I also crochet tunnels for them to play in, but they seem to be confused about the purpose and usually just shred them with adorable malice).<br>
		<br>Navigating the world with chronic illness is a daily experiment, but between my crafts, my boys, and my disturbing sense of humor, we’re making it work several tiny rat steps at a time.</p>	
	</div>
	
</body>

{% endblock %}

