{% extends 'base.html' %}

{% block content %}
<head>
	<link href='static/css/styles-about_me.css' rel='stylesheet' type='text/css' />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Kalam:wght@300&display=swap');
	</style>
</head>

<body>
	<img src="/static/img/me_blue_shirt.jpg" />

	<div>
		<h4>Alana Robyn Rosen</h4> <br>
		<h5>Founder of <strong>Yarntastic Adventures</strong></h5> <br>
		<p>It's always difficult to describe oneself, especially if we're going for concise and complete.
			<br>I love to read, want to write, and spend most of my time cleaning. The logistics of everyday life take most of my energy, so I am admittedly not the most social of hermits.
			<br>I work in food service and basically always have, though it's not a passion as much as a practicality.
			<br>I'm currently learning Hebrew and working to get my brain back to being more active, as intellectual pursuits have always been what fulfills me.
			<br>Like everyone else, I'm a work in progress, so we're just going to have to all see where this goes together.
		</p>	
	</div>
	
</body>

{% endblock %}

