{% extends 'base.html' %}
{% block content %}

<head>
  <link href="static/css/styles-rats.css" rel="stylesheet" type="text/css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Rock+Salt&display=swap');
  </style>
</head>

<body>

<br><br> <!--line spaces for style-->

<div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen-->
  <div class="row">
    <div class="col-sm-2"></div> <!--used for spacing-->
    <div class="col-sm-8" id="rat_intro">
      Yes, I have pet rats. And I love them.
      <br>
      Desperately.
      <br>
      Like, it might be an unhealthy amount.
      <br>
      I've included below pictures of all my boys and their bios. 
      <br>
      <a href="/rats/origin_story">Click here to read the story of how I ended up with 27 rats.</a>
    </div> <!--ends rat_intro-->
    <div class="col-sm-2"></div> <!--used for spacing-->
  </div> <!--ends row-->
</div> <!--ends fluid container-->

<br><br> <!-- add some space -->

<h2>Meet My Boys</h2> <br>

  <div class="container row" id="myBtnContainer">
    <button class="btn active col" onclick="filterSelection('all')"> Everybody</button>
    <button class="btn col" onclick="filterSelection('cr')"> Current Rats</button>
    <button class="btn col" onclick="filterSelection('pr')"> Past Rats</button>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card cr">
          <img class="card-img-top" src="/static/img/Creamsicle.jpg" alt="Creamsicle is a cream-colored dumbo rat with silky, wavy hair and a big belly sleeping soundly on his side making all the hair models jealous." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Creamsicle</h4>
            <p class="card-text">Creamsicle is my spunky, fluffy boy with a penchant for testing limits. He's given me many scares over time as he gets injured in play fights that he refuses to concede. He is absolutely huge, and a total sweetheart. I get kisses from him on the regular and he is one of the first to rush the cage doors whenever I'm near. Creamsicle is remarkably trusting despite his repeated beatings, and he will gladly plop his big belly down with any boy who holds still long enough to be considered a potential cuddle partner.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card cr">
          <img class="card-img-top" src="/static/img/Biscuit.jpg" alt="Biscuit is a multi-brown-colored dumbo rat with silky, wavy hair. He is being squished up against the side of the litterbox and doesn't seem to mind one bit as he refused to move." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Biscuit</h4>
            <p class="card-text">Biscuit is a rotund softie with a heart of gold and a tummy for treats. He is incredibly friendly and curious and will try to shove himself through the cage bars to get to me when he senses I'm near. Biscuit loves a good cuddle, but his favorite buddy is Creamsicle, and they spend a lot of time being fuzzy bros together and breaking my heart with all the cute. He also has a tendency to smell like brownies, and I have absolutely no idea why.</p>
          </div>
        </div>
      </div>
    </div> <!-- end of first row -->
    <div class="row">
      <div class="col">
        <div class="card cr">
          <img class="card-img-top" src="/static/img/Opal.jpg" alt="Opal is a white dumbo rat with a light tan hooded pattern who is comfortably sleeping on his side against my hip because he loves me." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Opal</h4>
            <p class="card-text">Opal is the sweet badass of Isaac's Posse. Named for the cute white dot on his forehead, he is certainly a gem in his own right. When being held, Opal absolutely loves to curl up against my neck and make happy noises while I go about my business. He has little interest in exploring and mainly wishes to sleep and cuddle, which is absolutely fine by me. I always assumed he was low in the power structure due to the fact that I never saw him play fight like the others. However, when I attempted to join my mischiefs, Opal went ahead and beat the bricks off every boy in town - except Isaac. Isaac was absolutely terrified from the start and Opal protected him with a fiercness that showed very clearly that he was in charge and worthy of the status. Opal is a very persistent groomer, and will often help me with any manicuring I wasn't aware I needed. But hey, I'm not about to be mad at good hygiene.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card cr">
          <img class="card-img-top" src="/static/img/Isaac.jpg" alt="Isaac is a white rat with a black hooded pattern who is half asleep on my couch cuddled against my leg, maintaining awareness while cuddling." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Isaac</h4>
            <p class="card-text">Isaac is my only remaining boy who isn't a dumbo and also the only rat I've ever had that consistently comes when called. While Isaac is potentially the most affectionate rat I have ever met in my life, he is also remarkably territorial if any rat outside of his mischief comes near. Kisses are a specialty - nay, a necessity. Isaac loves exploring and has been an escape artist since he was a baby. Constantly curious and ready to see the world, Isaac is the only rat I have that gets to explore outside. He loves the grass and will run every direction, but never more than two feet away from momma's feet. When he's done, Isaac will climb up my body and reclaim his place on my shoulder, letting me know he's ready to tell his buddies all about The Great Outdoors.</p>
          </div>
        </div>
      </div>
    </div>
      <!-- end of Current Rats (cr)) -->
      <!-- start of Past Rats (pr) -->
    <div class="row">
      <div class="col">
        <div class="card pr">
          <img class="card-img-top" src="/static/img/Scribe face edit.jpg" alt="Scribe is a large rat with a white body and black head with a black stripe down his back. He is eating a Cheez-It like a boss." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Scribe the Pagemaster</h4>
            <p class="card-text">Scribe is actually the father of Trinidad, Crimson, Tiger, and SnuggleBug. He earned his name due to his affinity for gnawing on books while I read them. He is just a sleepy potato filled with the most content love I have ever seen in my life. He spends most of his time lounging around looking chunky or eating to maintain said chunk. Scribe loves to witness the world from a shoulder's perspective and will show his appreciation with kisses all over. He is the only remaining rat of my original three, and I feel I have the deepest bond with him. There is no more kind or gentle creature on this earth than my beloved Pagemaster.
              <br> <kbd>Status: DECEASED</kbd> </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card pr">
          <img class="card-img-top" src="/static/img/Trinidad face.jpg" alt="Trinidad is a white rat with a black head and stripe on his back. He is on a bed just being mysterious." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Trinidad</h4>
            <p class="card-text">Often preferring to keep his own company, Trinidad is more timid and reserved than the other boys. He is always cautious in leaving the cage and moves slowly and carefully on unfamiliar terrain. But don't think any of this makes him unfriendly! Once he feels comfortable, he can be a funny, sweet, love-y boy just like the rest.
              <br> <kbd>Status: DECEASED</kbd> </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card pr">
          <img class="card-img-top" src="/static/img/Crimson face.jpg" alt="The picture is a close-up of an albino rat with bright red eyes, just chillin'." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Crimson</h4>
            <p class="card-text">Crimson loves jumping around from hammock to hammock within his cage and takes absolutely every possible opportunity he can find to be held. Crimson is a born explorer and kiss fanatic - once he gets ahold of you, you are getting slathered in love and there is nothing you can do to stop that. Curiosity often gets the better of him, as Crimson has been known to make some terrifying leaps in order to sate his wandering mind. I definitely have to keep an eye on him.
              <br> <kbd>Status: DECEASED</kbd> </p>
          </div>
        </div>
      </div>
    </div> <!-- end row and start new one b/c of spacing -->
    <div class="row">
      <div class="col">
        <div class="card pr">
          <img class="card-img-top" src="/static/img/Tiger shoulder 2.jpg" alt="Tiger is a white rat with a black head and black stripe down his back. He has a little pinkish wart on his nose which makes him look very wizardly. He is sitting on my shoulder trying to balance and eat a Cheez-It and being real cute about it." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Tiger</h4>
            <p class="card-text">Tiger remains the rat most similar to a human that I think I have ever met. Something about his demeanor says that he knows what's going on and he's okay with it most of the time. He has always been a fairly content rat, seemingly needing nothing but love and lots of corn. As he ages, Tiger becomes more and more like his father, preferring now to nap rather than play around with his brothers. Whenever he is held, Tiger spends the majority of his time exploring my hair and ears as opposed to the world around him. His affection for me is blatant, as is mine for him. Tiger has always been outgoing and accepting and never turns down a cuddle pile. His cuteness knows no bounds, and he is always willing to share his bed with any and all oncomers.
              <br> <kbd>Status: DECEASED</kbd> </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card pr">
          <img class="card-img-top" src="/static/img/SnuggleBug cheese cracker.jpg" alt="SnuggleBug is a white rat with a light cream-colored hood and a cream stripe down his back. He is posing on my bed eating a Cheez-It, knowing damn well he's adorable." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">SnuggleBug</h4>
            <p class="card-text">Snugs is the smallest boy I've ever had, and I am thankful for that every single day. Not being the most elegant of creatures, I frequently find SnuggleBug falling feet at a time after slipping off a platform or jumping to a hammock and missing. He loves to play with his brothers, but never really wins any fights and often winds up getting rolled off a ledge in the process. Snugs's lack of bulk allows him to bounce off several objects at a time without actually incurring any damage to himself or others. It may seem impolite of me to say, but he definitely seems to be the least intelligent of the bunch. He often appears oblivious to his surroundings and absolutely okay with that. Bugs goes with the moment and frequently follows in the footsteps of the other boys, going where they go and doing what they do. He is a tiny bundle of fuzz and I could not love him more.
              <br> <kbd>Status: DECEASED</kbd> </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card pr">
          <img class="card-img-top" src="/static/img/Nicodemus.jpg" alt="Nicodemus is a white rat with a dark orange hooded pattern who is half asleep on my shoulder looking like he resents how much he likes being there." style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Nicodemus</h4>
            <p class="card-text">Nicodemus never hesitates to push to the front of the line when it's time for treats, and he is not afraid to walk on someone's face in order to get them. He gets super intense with food, but is the most skiddish of all my boys when it comes time for affection. He has a blunted tail with a permanent crick in it from where his mom accidentally broke it when he was a baby, but it causes him no logistical difficulties. Nicodemus is one heck of a jumper and loves to work his way into the darkest of nooks and crannies. Often the only way to find him is by looking in the least likely place you can imagine, and then smiling when you see a little orange butt tucked up and chillin'.
              <br> <kbd>Status: DECEASED</kbd> </p>
          </div>
        </div>
      </div>
    </div><!-- end row and start new one b/c of spacing -->
      <div class="row">
        <div class="col">
          <div class="card pr">
            <img class="card-img-top" src="/static/img/Narko.jpg" alt="Narko is a cream-colored dumbo rat with large black eyes chillin' in a hammock and staring at the camera because he's always curious and has no fear." style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Narko</h4>
              <p class="card-text">Narko happens to be the father of his three mischiefmates (Creamsicle, Biscuit, and Button), and he takes that authority seriously. He is a very intense, curious, brave, gorgeous, jerk - and we all love him. He will get aggressive if anyone has a treat and he doesn't, and he does NOT share toys. He does, however, cuddle amazingly well with his sons and has a habit of trying to shove his face up my nostrils. There is no lack of personality in this guy, even though he is the smallest of his mischief and likely pretty low in the power structure. He is a fuzzy meatball that radiates personality at every opportunity.
                <br> <kbd>Status: DECEASED</kbd> </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card pr">
            <img class="card-img-top" src="/static/img/Button.jpg" alt="Button is a seal-point Siamese dumbo rat sleeping on my shoulder because his chill knows no bounds." style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Button</h4>
              <p class="card-text">Button is the peacemaker of the family, and generally one of the most chill rats you'll ever meet. He's skinnier than both Biscuit and Creamsicle, but he won't hesitate to put his whole body in the way if they start to fight too much. He has a habit of counteracting any negative feelings with cuddles, and it works a treat. Button also loves his scritches and is one of the few boys that will hold still while I rub his little head. His bravery and unwavering chill seem to be the reasons that no one ever picks a fight with him - he only gets respect and snuggles, which feels very appropriate.
                <br> <kbd>Status: DECEASED</kbd> </p>
            </div>
          </div>
        </div>
      </div>
    <!-- end Past Rats section -->
  </div><!-- end of container -->


<br><br><br><br> <!-- add some space below pics and bios -->



<!-- start of JavaScript to make buttons interactive -->
<script>
  function filterSelection(codeName) {
    const cards = document.getElementsByClassName("card");
    for (let index = 0; index < cards.length; index++) { // iterate through all cards
      const card = cards[index];
      card.style.display = "none"; // hide card
      if (card.className.indexOf(codeName) > -1 || codeName === "all") { // found a class name we were looking for
        card.style.display = "block"; // show card
      }
    }
  }

  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function (event) {
      for (var btnIndex = 0; btnIndex < btns.length; btnIndex++) {
        const btn = btns[btnIndex];
        btn.className = btn.className.replace(" active", "");
      }
      var currentActiveButton = event.target;

      currentActiveButton.className += " active";
    });
  }
</script>
<!-- end of JavaScript -->

</body>

{% endblock %}