body {
    background-image: url("/static/img/colorful\ dandelion\ waterdrops.jpg");
    background-size: 100% 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
