/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }

* {
    box-sizing: border-box;
}

.navbar {
    font-family: "Magneto", "Century Gothic", sans-serif;
    font-size: 29px;
    margin-top: 37px;
    color: rgb(235, 18, 144);
    text-shadow: 2px 2px 4px black;
}

/* unvisited link */
.navbar a:link {
    color: hotpink;
    text-decoration: none;
  }
  
  /* visited link */
.navbar a:visited {
    color: hotpink;
    text-decoration: none;
  }
  
  /* mouse over link */
.navbar a:hover {
    color: hotpink;
    background-color: deeppink;
    text-decoration: none;
  }
  
  /* selected link */
.navbar a:active {
    color: hotpink;
    background-color: deeppink;
    text-decoration: none;
  }