/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
  
  * {
    box-sizing: border-box;
  }

body {
    background-image: radial-gradient(rgb(126, 5, 75), rgb(99, 5, 52));
    overflow: auto;
}

h1 {
    margin: 35px;
    font-family: "Broadway", "Calibri", sans-serif;
    color: rgb(252, 252, 6);
    text-align: center;
}

button {
    background-color: red;
    color: white;
    padding: 9px 13px;
    border: 5px solid rgb(223, 39, 116);
    border-radius: 8px; /*rounds the corners*/
}

/*
Removing modal options for right now until I can get the layout right.
.modal-header {
    float: right; /*needed to use the class for alignment of button/
}
*/

#description_price {
    font-family: "Century Gothic", sans-serif;
    font-style: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 25 px;
}

