/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
  
* {
    box-sizing: border-box;
}

body {
  background-image: radial-gradient(black, rgb(85, 83, 83), black, rgb(85, 83, 83));
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 35%;
  border-radius: 100%;
  align-self: center;
  margin: 50px;
  border: thick solid black;
}

div {
  text-align: center;
  color: orchid;
}

h4 {
  padding: 7px;
  font-family: "Fleur De Leah";
  font-size: 5rem;
}

h5 {
  font-family: "Kalam";
  font-size: 1.8rem;
}

p {
  font-family: "Kalam";
  font-size: 1.5rem;
  padding: 5px 50px;
}

