/*
body {
    background-image: url("/static/img/butterflies_and_shrooms.jpg");
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/
