/* Responsive layout - when the screen is less than 992px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

/* .videos {
  float: center;
  padding: 20px;
} */

body {
  background-image: url("/static/img/orange\ leaves.jpg");
  background-size: cover;
  background-color: rgb(212, 79, 2);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-family: "Georgia", "Garamond", serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 40px;
}

#title2 {
  font-family: "Georgia", "Garamond", serif;
  font-weight: bold;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  font-size: 25px;
  margin: 40px;
}



#rat_intro {
  font-family: "Ink Free", "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  background-attachment: fixed;
  background-color: rgb(224, 137, 6, 0.3);
  padding: 10px;
  margin: auto;
  outline-style: inset;
}

#story {
  font-family: "Ink Free", "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  background-attachment: fixed;
  background-color: rgb(224, 137, 6, 0.3);
  padding: 10px;
  border-radius: 12px;
  margin: auto;
}



#narko_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#creamsicle_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#button_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#biscuit_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#isaac_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#nicodemus_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#opal_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#scribe_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#trinidad_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#crimson_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#tiger_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#snugglebug_info {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}