/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

/* .videos {
  float: center;
  padding: 20px;
} */

body {
  background-image: url("/static/img/orange\ leaves.jpg");
  background-size: cover;
  background-color: rgb(212, 79, 2);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-family: "Broadway", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 40px;
}

#title2 {
  margin-top: 75px;
  margin-bottom: 50px;
}

#story {
  font-family: "Ink Free", "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  background-attachment: fixed;
  background-color: rgb(241, 97, 210, 0.3);
  padding: 10px;
  border-radius: 12px;
  margin: auto;
}

#ScribeInfo {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#TrinidadInfo {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#CrimsonInfo {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#TigerInfo {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}

#SnuggleBugInfo {
  margin: auto;
  padding: 9px;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
}