/* Responsive layout - when the screen is less than 992px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("/static/img/orange\ leaves.jpg");
  background-size: cover;
  background-color: rgb(212, 79, 2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
}

h1 {
  font-family: "Rock Salt";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding: 5px;
}

h2 {
  font-family: "Rock Salt";
  font-weight: bold;
  font-size: 2rem;
  padding: 5px;
}

h4 {
  font-family: "Rock Salt";
  font-weight: bold;
  font-size: 1.8rem;
  padding: 15px;
}

p {
  font-family: "Kalam";
  font-size: 1.3rem;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(224, 137, 6);
  padding: 10px;
  font-style: "Kalam";
  font-weight: bold;
  font-size: 1.3rem;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgb(224, 137, 6);
  cursor: pointer;
  font-family: "Rock Salt";
  font-size: 1rem;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: rgb(212, 79, 2);
  color: white;
}

#rat_intro {
  font-family: "Kalam";
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  background-attachment: fixed;
  background-color: rgb(224, 137, 6, 0.3);
  padding: 10px;
  margin: auto;
  outline-style: inset;
}

#story {
  font-family: "Kalam";
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  background-attachment: fixed;
  background-color: rgb(224, 137, 6, 0.3);
  padding: 10px;
  border-radius: 12px;
  margin: auto;
}