/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
  
  * {
    box-sizing: border-box;
  }

  body {
    background-image: radial-gradient(gray, rgb(167, 124, 124), rgb(230, 113, 113));
    background-size: 150% 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  p {
    font-weight: bolder;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Kalam";
  }