/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
  
  * {
    box-sizing: border-box;
  }

  body {
    background-image: radial-gradient(gray, rgb(184, 167, 167), rgb(58, 55, 55));
    background-size: 150% 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  p {
    font-weight: bolder;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Kalam";
    padding-left: 10%;
    padding-right: 10%;
  }

  .card {
    margin: 10px;
  }