{% extends 'base.html' %}

{% block content %}

<head>
    <link href="static/css/styles-available_creations.css" rel="stylesheet" type="text/css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script+Swash+Caps&family=Coming+Soon&display=swap');
    </style>
</head>

<body>
  <h1>For inquiries and/or purchases, please email me at: <a href="mailto:yarntasticadventures@gmail.com? subject=Website Inquiry">yarntasticadventures@gmail.com</a></h1>

  <h2>Yarntastic Adventures</h2>
<!-- buttons on top to specify imgs displayed below -->
<div class="container row" id="myBtnContainer">
  <button class="btn active col" onclick="filterSelection('all')"> Show All </button>
  <button class="btn col" onclick="filterSelection('Pride-O-Pusses')"> Pride-O-Pusses </button>
  <button class="btn col" onclick="filterSelection('Mini-Pusses')"> Mini-Pusses </button>
  <button class="btn col" onclick="filterSelection('Micro-Pusses')"> Micro-Pusses </button>
  <!-- <button class="btn" onclick="filterSelection('Ear-Pusses')"> Ear-Pusses </button> -->
</div>
<!-- end of buttons -->

<div class="container-fluid">

<!-- Pride-O-Pusses section -->
<div class="row">
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--rainbow_trans_1_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">LGBTQ+ Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--rainbow_trans_2_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">LGBTQ+ Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--lesbian_1_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Lesbian Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--lesbian_2_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Lesbian Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
</div> <!-- end of row -->

<div class="row">
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--lesbian_3_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Lesbian Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--trans_1_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Trans Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--trans_2_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Trans Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--trans_3_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Trans Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
</div> <!-- end of row -->

<div class="row">
  <div class="col">
    <div class="card Pride-O-Pusses">
      <img class="card-img-top" src="/static/img/Pride-O-Puss--trans_4_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Trans Pride-O-Puss</h3>
        <p class="card-text">$8 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>  
  <!-- end of Pride-O-Pusses section -->

  <!-- Mini-Pusses section -->
  <div class="col">
    <div class="card Mini-Pusses">
      <img class="card-img-top" src="/static/img/Mini-Pride-O-Puss--trans_1_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Trans Mini-Puss</h3>
        <p class="card-text">$5 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card Mini-Pusses">
      <img class="card-img-top" src="/static/img/Mini-Pride-O-Puss--trans_4_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Trans Mini-Puss</h3>
        <p class="card-text">$5 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div> 
  <!-- end of Mini-Pusses section -->

  <!-- Micro-Pusses section -->
  <div class="col">
    <div class="card Micro-Pusses">
      <img class="card-img-top" src="/static/img/Micro-Puss_1_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Micro-Puss</h3>
        <p class="card-text">$5 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div> 
</div> <!-- end of row -->

<div class="row">
  <div class="col">
    <div class="card Micro-Pusses">
      <img class="card-img-top" src="/static/img/Micro-Puss_2_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Micro-Puss</h3>
        <p class="card-text">$5 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div> 
  <div class="col">
    <div class="card Micro-Pusses">
      <img class="card-img-top" src="/static/img/Micro-Puss_3_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Micro-Puss</h3>
        <p class="card-text">$5 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div> 
  <div class="col">
    <div class="card Micro-Pusses">
      <img class="card-img-top" src="/static/img/Micro-Puss_4_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Micro-Puss</h3>
        <p class="card-text">$5 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div> 
  <div class="col">
    <div class="card Micro-Pusses">
      <img class="card-img-top" src="/static/img/Micro-Puss_5_square.jpg" alt="" style="width:100%">
      <div class="card-body">
        <h3 class="card-title">Micro-Puss</h3>
        <p class="card-text">$5 + shipping/handling<br>Customizations available.</p>
      </div>
    </div>
  </div> 
  <!-- end of Micro-Puss section -->
</div> <!-- end of row -->

</div> <!-- end fluid container -->

  <br><br><br>

<h1>For inquiries and/or purchases, please email me at: <a href="mailto:yarntasticadventures@gmail.com? subject=Website Inquiry">yarntasticadventures@gmail.com</a></h1>





<!-- JavaScript to make it interactive -->
<script>
 function filterSelection(codeName) {
    const cards = document.getElementsByClassName("card");
    for (let index = 0; index < cards.length; index++) { // iterate through all cards
      const card = cards[index];
      card.style.display = "none"; // hide card
      if (card.className.indexOf(codeName) > -1 || codeName === "all") { // found a class name we were looking for
        card.style.display = "block"; // show card
      }
    }
  }

  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function (event) {
      for (var btnIndex = 0; btnIndex < btns.length; btnIndex++) {
        const btn = btns[btnIndex];
        btn.className = btn.className.replace(" active", "");
      }
      var currentActiveButton = event.target;

      currentActiveButton.className += " active";
    });
  }
</script>

</body>

{% endblock %}

<!--Should I add a nav bar containing custom order form and yarn options? 
    Should I make a basic home page for just crochet in general, then have a nav bar for the sub-pages of pre-made items, yarn options, and custom order form?-->