{% extends 'base.html' %}

{% block content %}

<head>
    <link href="static/css/styles-available_creations.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  <h1>Available Creations</h1>
  <!-- Commented out all modal references until I can get the layout right. -->
  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the two images, description, and price-->     
      <!-- <a data-toggle="modal" data-target="#modal_unicorn_front" href="/static/img/unicorn front.jpg"> -->
      <img src="/static/img/unicorn front.jpg" id="unicorn_front" class="col-md-4 mx-auto d-block pt-3"/>
      <!-- </a> -->         
      <!-- <a data-toggle="modal" data-target="#modal_unicorn_back" href="/static/img/unicorn back.jpg"> -->
      <img src="/static/img/unicorn back.jpg" id="unicorn_back" class="col-md-4 mx-auto d-block pt-3"/>
      <!-- </a> -->      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        This is a hand-made unicorn stuffed animal that measures approximately 13 inches tall.<br>
        $45
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Agender.jpg" id="agender" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for agender people, which are green, gray, black, and white."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Agender<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Asexual.jpg" id="asexual" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for asexual people, which are white, black, gray, and purple."/>
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Asexual<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Bisexual.jpg" id="bisexual" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for bisexual people, which are blue, pink, and purple."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Bisexual<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Genderfluid.jpg" id="genderfluid" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for genderfluid people, which are pink, purple, blue, black, and white."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Genderfluid<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Genderqueer.jpg" id="genderqueer" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for genderqueer people, which are purple, white, and green."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Genderqueer<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Non-Binary.jpg" id="non-binary" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for non-binary people, which are white, black, yellow, and purple."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Non-Binary<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Pansexual.jpg" id="pansexual" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for pansexual people, which are blue, yellow, and pink."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Pansexual<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Polyamory.jpg" id="polyamory" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for polyamorous people, which are red, blue, and black."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Polyamory<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Polysexual.jpg" id="polysexual" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for polysexual people, which are blue, green, and pink."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Polysexual<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Transgender.jpg" id="transgender" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride colors for transgender people, which are white, pale pink, and pale blue."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Transgender<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/Pride-O-Puses__Rainbow.jpg" id="rainbow" class="col-md-8 mx-auto d-block pt-3" alt="Crocheted octopi about three inches in size made of the Pride rainbow colors, with one tentacle each of red, orange, yellow, green, blue, purple, pink, and brown."/>      
      <div class="col-md-4" id="description_price"> <!--defines the container size of the text and when to change layout for smaller screen-->
        Pride-O-Puses&reg; - Rainbow<br>
        Customization available.<br>
        $10
      </div>
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->




    <!-- The Modal for unicorn_front -->
    <!-- <div class="modal" id="modal_unicorn_front">
      <div class="modal-dialog modal-lg"> <!- body of modal ->

          <!- Modal Close Button ->
          <div class="modal-header">
            <button type="button" data-dismiss="modal">&times;
            </button>
          </div>

          <!- Modal body ->
          <div class="modal-body">
            <img class="img-fluid" src="/static/img/unicorn front.jpg" alt="front of a white stuff animal unicorn roughly 13 inches tall with multicolored curly hair" />
          </div>

      </div> <!- modal-dialog div ->
    </div> <!- modal_unicorn_front div ->
      

    <! - The Modal for unicorn_back ->
    <div class="modal" id="modal_unicorn_back">
      <div class="modal-dialog modal-lg"> <!- body of modal ->

          <!-  Modal Close Button ->
          <div class="modal-header">
            <button type="button" data-dismiss="modal">&times;</button>
          </div>

          <!- Modal body ->
          <div class="modal-body">
            <img class="img-fluid" src="/static/img/unicorn back.jpg" alt="back of a white stuff animal unicorn roughly 13 inches tall with multicolored curly hair" />
          </div>

      </div> <!- modal-dialog div ->
    </div> <!- modal_unicorn_back div ->    
  -->        
                
  

</body>

{% endblock %}

<!--Should I add a nav bar containing custom order form and yarn options? 
    Should I make a basic home page for just crochet in general, then have a nav bar for the sub-pages of pre-made items, yarn options, and custom order form?-->