{% extends 'base.html' %}

{% block content %}

<head>
    <link href="static/css/styles-available_creations.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  <h1>Available Creations</h1>
  
  <!-- Click Smaller Image to Open the Modal -->
  <div class="row"> <!--allows for styling of image placement--> 
    <div class="column1"> <!--groups together the two images, description, and price-->
        <a data-toggle="modal" data-target="#modal_unicorn_front" href="/static/img/unicorn front.jpg">
          <img src="/static/img/unicorn front.jpg" id="unicorn_front" style="width:100px;height:auto" />
        </a>
      </div>

    <div class="column2"> <!--groups together the two images, description, and price-->
        <a data-toggle="modal" data-target="#modal_unicorn_back" href="/static/img/unicorn back.jpg">
          <img src="/static/img/unicorn back.jpg" id="unicorn_back" style="width:100px;height:auto" />
        </a>
      </div>

    <div class="column3" id="description_price">
      <p>This is a hand-made unicorn stuffed animal that measures approximately 13 inches tall.</p>
      <p>$35</p>
    </div>
  </div> <!--ends the row-->

    <!-- The Modal for unicorn_front -->
    <div class="modal" id="modal_unicorn_front">
      <div class="modal-dialog modal-lg"> <!--body of modal-->

          <!-- Modal Close Button -->
          <div class="modal-header">
            <button type="button" data-dismiss="modal">&times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <img class="img-fluid" src="/static/img/unicorn front.jpg" alt="front of a white stuff animal unicorn roughly 13 inches tall with multicolored curly hair" />
          </div>

      </div> <!--modal-dialog div-->
    </div> <!--modal_unicorn_front div-->
      

    <!-- The Modal for unicorn_back-->
    <div class="modal" id="modal_unicorn_back">
      <div class="modal-dialog modal-lg"> <!--body of modal-->

          <!-- Modal Close Button -->
          <div class="modal-header">
            <button type="button" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <img class="img-fluid" src="/static/img/unicorn back.jpg" alt="back of a white stuff animal unicorn roughly 13 inches tall with multicolored curly hair" />
          </div>

      </div> <!--modal-dialog div-->
    </div> <!--modal_unicorn_back div-->            
                
  

</body>

{% endblock %}

<!--Should I add a nav bar containing custom order form and yarn options? 
    Should I make a basic home page for just crochet in general, then have a nav bar for the sub-pages of pre-made items, yarn options, and custom order form?-->