{% extends 'base.html' %}

{% block content %}

<head>
    <link href='static/css/styles-blog_home.css' rel='stylesheet' type='text/css' />
</head>

<body>

    <div id="religion_link"> <!--the class removes the line from beneath the link - it's a style preference-->
        <a href="/blog/religion">Religious Practices</a>
    </div>

    <div id="origin_link"> <!--the class removes the line from beneath the link - it's a style preference-->
        <a href="/blog/origin">Origins</a>
    </div>

    <div id="terror_link"> <!--the class removes the line from beneath the link - it's a style preference-->
        <a href="/blog/terror">Terror</a>
    </div>

</body>

{% endblock %}