{% extends 'base.html' %}

{% block content %}

<head>
    <link href='static/css/styles-blog_home.css' rel='stylesheet' type='text/css' />
</head>

<body>

    <div> <!--the class removes the line from beneath the link - it's a style preference-->
        <a href="/blog/religion" class="text-decoration-none">Religious Practices</a>
    </div>

    <div> <!--the class removes the line from beneath the link - it's a style preference-->
        <a href="/blog/origin" class="text-decoration-none">Origins</a>
    </div>

    <div> <!--the class removes the line from beneath the link - it's a style preference-->
        <a href="/blog/terror" class="text-decoration-none">Terror</a>
    </div>

</body>

{% endblock %}

<!--
Blog Ideas: each number would be a blog section with sub-articles for sub-topics
1. Certain religious practices (meditation, praying facing Mecca, saying the rosary, memorizing the Quran) and why the hell they exist
2. Where did stuff come from (candles)?
3. The various sea creatures that terrify me-->