<head>
    <link href='/static/css/styles-navbar.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <nav>
        <!--wrap all nav bar code into one big div-->
        <div class="container">
            <!--tells nav tabs where to go-->
            <ul class="navbar nav nav-tabs">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about_me">About Me</a>
                </li>
                <!-- <li>
                    <a href="/rats">Rats</a>
                </li> -->
                <li>
                    <a href="/yarntastic_adventures">Yarntastic Adventures</a>
                </li>
                <li>
                    <a href="/line_art">Line Art</a>
                </li>
               <!-- <li>
                    <a href="/blogs">Blogs</a>
                </li> -->
          </ul>
        </div>
    </nav>
</body>
