<link href='static/css/styles-navbar.css' rel='stylesheet' type='text/css' />
<nav>
    <!--wrap all nav bar code into one big div-->
    <div class="container">
        <!--tells nav tabs where to go-->
        <ul class="navbar nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about_me">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rats">Rats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crochet">Crochet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blogs">Blogs</a>
            </li>
        </ul>
        <!-- toggleable nav tabs-->
        <!-- <div class="tab-content">
            <div id="/" class="tab-pane fade in active">
                Home
            </div>
            <div id="/about_me" class="tab-pane fade">
                About Me
            </div>
            <div id="/rats" class="tab-pane fade">
                Rats
            </div>
            <div id="/crochet" class="tab-pane fade">
                Crochet
            </div>
            <div id="/blogs" class="tab-pane fade">
                Blogs
            </div>
        </div> -->
    </div>
</nav>
