{% extends 'base.html' %}

{% block content %}

<head>
    <link href="static/css/styles-line_art.css" rel="stylesheet" type="text/css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Rock+Salt&display=swap");
    </style>
</head>

<body>
  <div>
    <br> <br> <!--create a space-->
    <p>I took an art class in high school. I only ever completed one assignment. We were told to use a Sharpie to cover a piece of paper in lines in whatever way we wanted.<br>
    I just never stopped.</p>
  </div>

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!-- groups together the images -->
      <img src="/static/img/line_drawing_4.jpg" id="line_drawing_4" class="col-lg-4 mx-auto d-block pt-3" /> 
      <img src="/static/img/line_drawing_2.jpg" id="line_drawing_2" class="col-lg-4 mx-auto d-block pt-3" />   
      <img src="/static/img/line_drawing_5.jpg" id="line_drawing_5" class="col-lg-4 mx-auto d-block pt-3" />  
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div class="container-fluid"> <!--allows columns (text or image) to expand or shrink with screen--> 
    <div class="row align-items-center"> <!--groups together the image, description, and price-->
      <img src="/static/img/line_drawing_6.jpg" id="line_drawing_6" class="col-lg-4 mx-auto d-block pt-3" />
      <img src="/static/img/line_drawing_1.jpg" id="line_drawing_1" class="col-lg-4 mx-auto d-block pt-3" />      
      <img src="/static/img/line_drawing_3.jpg" id="line_drawing_3" class="col-lg-4 mx-auto d-block pt-3" /> 
    </div> <!--ends the row-->
  </div> <!--ends the fluid container-->

  <div>
    <br> <!--create a space-->
    <br> <!--create a space-->
    <br> <!--create a space-->
  </div>
      
</body>

{% endblock %}