{% extends 'base.html' %}

{% block content %}

<head>
    <link href="static/css/styles-line_art.css" rel="stylesheet" type="text/css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Rock+Salt&display=swap");
    </style>
</head>

<body>
  <div>
    <br> <br> <!--create a space-->
    <p>I took an art class in high school. I only ever completed one assignment.<br>
      We were told to use a Sharpie to cover a piece of paper in lines in whatever way we wanted.<br>
      I just never stopped.</p>
  </div>


  <div class="container-fluid">

    <div class="row"> <!-- row 1 with 2 line drawings-->
      <div class="col">
        <div class="card line_drawing">
          <img class="line_drawing" id="line_drawing_7" src="/static/img/line_drawing_7.jpg" alt="" style="width:100%">
        </div>
      </div>
      <div class="col">
        <div class="card line_drawing">
          <img class="line_drawing" id="line_drawing_8" src="/static/img/line_drawing_8.jpg" alt="" style="width:100%">    
        </div>
      </div>
    </div> <!-- end row 1 -->
      
    <div class="row"> <!-- row 2 with 2 line drawings-->
      <div class="col">
        <div class="card line_drawing">
          <img class="line_drawing" id="line_drawing_4" src="/static/img/line_drawing_4.jpg" alt="" style="width:100%">
        </div>
      </div>
      <div class="col">
        <div class="card line_drawing">
          <img class="line_drawing" id="line_drawing_5" src="/static/img/line_drawing_5.jpg" alt="" style="width:100%">    
        </div>
      </div>
    </div> <!-- end row 2 -->

    <div class="row"> <!-- row 3 with 3 line drawings-->
      <div class="col">
        <div class="card line_drawing">
          <img class="line_drawing" id="line_drawing_6" src="/static/img/line_drawing_6.jpg" alt="" style="width:100%">
        </div>
      </div>
      <div class="col">
        <div class="card line_drawing">
          <img class="line_drawing" id="line_drawing_1" src="/static/img/line_drawing_1.jpg" alt="" style="width:100%">    
        </div>
      </div>
      <div class="col">
        <div class="card line_drawing">
          <img class="line_drawing" id="line_drawing_3" src="/static/img/line_drawing_3.jpg" alt="" style="width:100%">    
        </div>
      </div>
    </div> <!-- end row 3 -->

  </div> <!-- end fluid container -->
      
</body>

{% endblock %}